AuthNDecryptService/Decrypt/Service References/DocumentValidatorService/DocumentVerificationServiceBean.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://facade.project.com/" targetNamespace="http://facade.project.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="documentVerificationOperation" type="tns:documentVerificationOperation" />
  <xs:element name="documentVerificationOperationResponse" type="tns:documentVerificationOperationResponse" />
  <xs:complexType name="documentVerificationOperation">
    <xs:sequence>
      <xs:element minOccurs="0" name="content" type="xs:string" />
      <xs:element minOccurs="0" name="file" type="xs:string" />
      <xs:element minOccurs="0" name="key" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="documentVerificationOperationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="acceptedDocument" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>