AuthNDecryptService/Decrypt/Service References/AuthNDecryptService/AuthNDecrypt.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AuthNDecryptService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AuthNDecryptService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="isValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="tokenApp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tokenUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
      <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element minOccurs="0" name="decryptKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fileContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Document" nillable="true" type="tns:Document" />
</xs:schema>