AuthNDecryptService/Decrypt/Service References/AuthNDecryptService/AuthNDecrypt.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthNDecrypt" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2007/AuthNDecrypt.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2007/AuthNDecrypt.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2007/AuthNDecrypt.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AuthNDecryptService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthNDecrypt_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IAuthNDecrypt_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthNDecrypt_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IAuthNDecrypt_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthNDecrypt_SendDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:SendDocument" />
  </wsdl:message>
  <wsdl:message name="IAuthNDecrypt_SendDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthNDecrypt_UploadDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadDocument" />
  </wsdl:message>
  <wsdl:message name="IAuthNDecrypt_UploadDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthNDecrypt">
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthNDecrypt/Authenticate" message="tns:IAuthNDecrypt_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthNDecrypt/AuthenticateResponse" message="tns:IAuthNDecrypt_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthNDecrypt/GetUser" message="tns:IAuthNDecrypt_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthNDecrypt/GetUserResponse" message="tns:IAuthNDecrypt_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthNDecrypt/SendDocument" message="tns:IAuthNDecrypt_SendDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthNDecrypt/SendDocumentResponse" message="tns:IAuthNDecrypt_SendDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthNDecrypt/UploadDocument" message="tns:IAuthNDecrypt_UploadDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthNDecrypt/UploadDocumentResponse" message="tns:IAuthNDecrypt_UploadDocument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthNDecrypt" type="tns:IAuthNDecrypt">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/IAuthNDecrypt/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IAuthNDecrypt/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDocument">
      <soap:operation soapAction="http://tempuri.org/IAuthNDecrypt/SendDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadDocument">
      <soap:operation soapAction="http://tempuri.org/IAuthNDecrypt/UploadDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthNDecrypt">
    <wsdl:port name="BasicHttpBinding_IAuthNDecrypt" binding="tns:BasicHttpBinding_IAuthNDecrypt">
      <soap:address location="http://localhost:2007/AuthNDecrypt.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>